includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:
  paths:
    - app
  level: 6

  # (Optionnel) si tu veux ignorer le typage des valeurs de tableaux pour l'instant, dé-commente:
  # ignoreErrors:
  #   - identifier: missingType.iterableValue
